fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
python-dotenv
python-multipart

pydantic

pika==1.3.2

qdrant-client==1.7.3
rank-bm25
rapidfuzz
sentence-transformers

openai
tiktoken
openai-whisper

langchain
langchain-core
langchain-community
langchain-openai

httpx
requests